.about-us-container {
  position: relative;
  top: 150px;
  margin-bottom: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: #000000; 
  z-index: 5;
  
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #efefefbd; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.about-us-container:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px);
}

.about-description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #000000; 
  margin-bottom: 2rem;
}

.team-section {
  margin-top: 2rem;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 1.5rem;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.team-member {
  text-align: center;
  padding: 1rem;
  background: #e4dede; 
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.team-member h3 {
  margin: 0.5rem 0;
  color: #000000; 
}

.team-member p {
  color: #484848; 
  margin: 0;
}


.contact-details {
    padding: 40px; 
    border-radius: 16px; 
    margin: 50px 0; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    background-color: #e4dede; 
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}
.contact-details:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.contact-details h2 {
    color: #000000;
    margin-bottom: 15px;
    font-size: 1.8em;
}

.contact-details p {
    margin: 10px 0;
    color: #000000;
    font-size: 1.1em;
}

.contact-details a {
    color: #2980b9;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-details a:hover {
    color: #1c5980;
    text-decoration: underline;
}