.coming-soon-container {
    position: relative;
  margin-top: 150px; /* Instead of top: 150px; */
  margin-bottom: 4rem;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  color: #ffffff;
  z-index: 5;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #000000d1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  overflow: hidden; /* Prevents any hidden content */
}

.coming-soon-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #FFD700;
}

.coming-soon-description {
    font-size: 1.2rem;
    max-width: 600px;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #ffffff;
}

.phase-launch {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFD700;
    margin: 30px 0;
    animation: pulse 1.5s infinite ease-in-out;
}

.countdown-timer {
    font-size: 2rem;
    font-weight: bold;
    color: #FFD700;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 0;
    letter-spacing: 2px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}