body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.submit-button-container { 
  display: flex;
  justify-content: center;
  margin-top: 15px;
  min-width: 80px; 
}

.submit-button{
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 80px;
  padding: 15px 80px;
  cursor: pointer;
  margin-right: 20px;
  transition: background-color 0.3s;
  font-family: Arial;
  
}
.submit-button:hover{
  background-color: white;
  color: #000000;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  margin-top: 120px; 
}


.quiz-option {
  display: inline-block;
  width: 94%;
  padding: 0.75rem;
  text-align: left;
  border: 2px solid #b1ab08;
  border-radius: 0.5rem;
  background-color: #dad0115e;
  margin-bottom: 0.1rem;
  transition: background-color 0.2s;
  font-weight: bold;
  font-size: 1rem;
  font-family: Arial;
  color: rgb(0, 0, 0);
}
.quiz-option:hover{
  box-shadow: 10px 10px 12px rgba(109, 108, 75, 0.2);
  transform: translateY(-2px);
}

.quiz-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: linen;
  font-family: Arial;
}

.quiz-title {
  font-family: Arial;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}

.quiz-subtitle {
  font-family: Arial;
  font-size: 1.25rem;
  font-weight: medium;
  margin-bottom: 1rem;
  color: rgb(0, 0, 0);
}