body {
  margin: 0;
  padding: 0;
   
}

.app-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  background-color: #a97e07;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}